.button-secondary {
    width: 92px;
    height: 32px;
    box-sizing: border-box;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #1789fc;
    border-radius: 8px;
    border: solid 2px #178df4;
    background-color: #ffffff;
}

.button-secondary--approved {
    color: #599a00;
    border: solid 2px #599a00;
}

.button-secondary--declined {
    color: #fd7745;
    border: solid 2px #fd7745;
}

.button--disabled {
    border: none;
    background-color: #f5f5f5;
    color: #8d8888;
}