@import "./inspector.less";
body {
    margin: 0;
    background-color: #f5f5f5 ;
}
.header {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    align-items: center;
    border-left: 20px solid  #ffc400;

    .header-logo {
        width: 199px;
        height: 51px;
        font-family: Pacifico;
        font-size: 29px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.76;
        letter-spacing: normal;
        color: #001639;
        margin-left: 25px;
        border-right: 1px solid #d5d5d5;
    } 
    .header-text {
        width: 308px;
        height: 40px;
        font-family: OpenSans;
        font-size: 29px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.34;
        letter-spacing: normal;
        text-align: left;
        color: #8b8b8b;
        margin-left: 27.5px;
    }

}
.page {
    display: flex;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 150px;
    margin-top: 60px;
    margin-right: 40px;
}

.main {
    width: calc(100% - 595px);
}

.filters {
    display: flex;
    justify-content: space-around;
    .filters-text {
        
        font-family: OpenSans;
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        color: #000000;
    }
    .filters-text-hidden {
        
        font-family: OpenSans;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        color: #000000;
    }

}
.table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    
    .table-heading {
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        color: #3c3c3c;
    }
    .avatar {
        width: 32px;
        height: 32px;
        padding-left: 45px;
    }
    .name {
        
        font-family: OpenSans;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }
    .type {
        
        font-family: OpenSans;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }
    .location {
        font-family: OpenSans;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }
    .remove {
        width: 12px;
        height: 16px;
        padding-right: 40px;
    }
    .remove-img {
        width: 13px;
        height: 16px;
        background-image: url("../../assets/material-delete.svg");
        background-repeat: no-repeat;
    }
    .selected {
        box-shadow: 0 0 16px 0 rgba(42, 125, 206, 0.16);
        background-color: #eff9ff;

        .remove-img {
            background-image: url("../../assets/material-delete-selected.svg");
        }
    }
}
