@import "./fonts.less";
@import "./header.less";
@import "./page.less";
@import "./menu.less";
@import "./main-div.less";
@import "./aside.less";
body {
    margin: 0;
}

.wrapper {
    background-color: #f5f5f5 ;
    padding: 32px 13px;

    @media (min-width: 1220px) {
        padding-left: 43px;
        padding-right: 43px;
    }
}



